.grid {
border: 2px blue solid;
width: 2000px;
height: 2000px;
display: grid;
grid-template-columns: repeat (12, 1fr);
  grid-template-rows: 150px auto 150px;
  grid-template-areas:
	"b b b a a a a a a a a a"
	"b b b c c c c c c c c c"
	"b b b d d d d d d d d d"
}


.box {
background-color: red;
color: black;
border-radius: 5px;
border: 2px dodgerblue solid;
}	

 
.a{
	grid-area: a;

}
.b{
	grid-area: b;
}

.c{
	grid-area: c;
}

.d{
	grid-area: d;
}